html {
   background-color: #212121;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
   background-size: 3px;
   font-family: Arial, sans-serif;
   color: #fff;
}

h1 {
   margin: 100px auto 10px;
   text-align: center;
   font: 700 32px/40px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

ol {
   margin: 30px;
}

form {
   margin: 30px 0;
}

select {
   margin: 0 30px;
}

.focus_blur {
   margin: 30px;
}

.invalid {
   border-color: red;
}

#error {
   color: red;
}

.error {
   background: rgb(255, 75, 75);
}

.li {
   cursor: pointer;
}

:focus {
   outline: 1px dashed green;
}

.focused {
   outline: 1px solid red;
}

#formFocusTwo {
   margin: 15px 0;
}
.change {
   margin: 30px 0;
}
#changeInput {
   display: block;
   margin: 30px 0 5px;
}
#ccp {
   display: block;
   margin: 30px 0;
   width: 300px;
}
